[data-cellid="grid_c3"][data-page="applicationsrecieved_view"][data-cellid="grid_c3"][data-page="applicationsrecieved_view"][data-cellid="grid_c3"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c"][data-page="applicationsrecieved_view"][data-cellid="grid_c"][data-page="applicationsrecieved_view"][data-cellid="grid_c"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c9"][data-page="applicationsrecieved_view"][data-cellid="grid_c9"][data-page="applicationsrecieved_view"][data-cellid="grid_c9"][data-page="applicationsrecieved_view"] {
  width: 20%;
}
[data-cellid="grid_c12"][data-page="applicationsrecieved_view"][data-cellid="grid_c12"][data-page="applicationsrecieved_view"][data-cellid="grid_c12"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c13"][data-page="applicationsrecieved_view"][data-cellid="grid_c13"][data-page="applicationsrecieved_view"][data-cellid="grid_c13"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c15"][data-page="applicationsrecieved_view"][data-cellid="grid_c15"][data-page="applicationsrecieved_view"][data-cellid="grid_c15"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c18"][data-page="applicationsrecieved_view"][data-cellid="grid_c18"][data-page="applicationsrecieved_view"][data-cellid="grid_c18"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c19"][data-page="applicationsrecieved_view"][data-cellid="grid_c19"][data-page="applicationsrecieved_view"][data-cellid="grid_c19"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c20"][data-page="applicationsrecieved_view"][data-cellid="grid_c20"][data-page="applicationsrecieved_view"][data-cellid="grid_c20"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c22"][data-page="applicationsrecieved_view"][data-cellid="grid_c22"][data-page="applicationsrecieved_view"][data-cellid="grid_c22"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c23"][data-page="applicationsrecieved_view"][data-cellid="grid_c23"][data-page="applicationsrecieved_view"][data-cellid="grid_c23"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c29"][data-page="applicationsrecieved_view"][data-cellid="grid_c29"][data-page="applicationsrecieved_view"][data-cellid="grid_c29"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c30"][data-page="applicationsrecieved_view"][data-cellid="grid_c30"][data-page="applicationsrecieved_view"][data-cellid="grid_c30"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c31"][data-page="applicationsrecieved_view"][data-cellid="grid_c31"][data-page="applicationsrecieved_view"][data-cellid="grid_c31"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-cellid="grid_c32"][data-page="applicationsrecieved_view"][data-cellid="grid_c32"][data-page="applicationsrecieved_view"][data-cellid="grid_c32"][data-page="applicationsrecieved_view"] {
  width: 33%;
}
[data-page="applicationsrecieved_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


