[data-cellid="grid_c10"][data-page="applicationunderassessment_view"][data-cellid="grid_c10"][data-page="applicationunderassessment_view"][data-cellid="grid_c10"][data-page="applicationunderassessment_view"] {
  width: 33%;
}
[data-cellid="grid_c2"][data-page="applicationunderassessment_view"][data-cellid="grid_c2"][data-page="applicationunderassessment_view"][data-cellid="grid_c2"][data-page="applicationunderassessment_view"] {
  width: 33%;
}
[data-page="applicationunderassessment_view"][data-itemid="section5"] > .panel-heading {
  color: #fff;
}
[data-page="applicationunderassessment_view"][data-itemid="section5"] > .panel-heading {
  background-color: #0033c4;
  background-image: none;
}
[data-page="applicationunderassessment_view"][data-itemid="section2"] > .panel-heading {
  color: #FFF;
}
[data-page="applicationunderassessment_view"][data-itemid="section2"] > .panel-heading {
  background-color: #0033c4;
  background-image: none;
}
[data-page="applicationunderassessment_view"][data-itemid="details_preview4"] {
  font-weight: bold;
}
[data-page="applicationunderassessment_view"][data-itemid="section3"] > .panel-heading {
  color: #FFF;
}
[data-page="applicationunderassessment_view"][data-itemid="section3"] > .panel-heading {
  background-color: #0033c4;
  background-image: none;
}
[data-page="applicationunderassessment_view"][data-itemid="section4"] > .panel-heading {
  color: #FFF;
}
[data-page="applicationunderassessment_view"][data-itemid="section4"] > .panel-heading {
  background-color: #0033c4;
  background-image: none;
}
[data-page="applicationunderassessment_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


