[data-page="dashboard_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="dashboard_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="dashboard_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


