[data-page="radioequipment_list"][data-itemid="text5"] {
  color: #000000;
}
[data-page="radioequipment_list"][data-itemid="text4"] {
  color: #000000;
}
[data-page="radioequipment_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.panel-heading{
    background-color:#ffffff;
}