[data-page="radioequipment_list1"][data-itemid="text"] {
  color: #000000;
}
[data-page="radioequipment_list1"][data-itemid="text1"] {
  color: #000000;
}
[data-page="radioequipment_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


